body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    height: 100vh;
}

header {
    flex: 0 80px;
    background-color: #103e6d;
    color: white;
}

header h1 {
    margin: 0;
    padding: 20px;
}

header img {
    filter: grayscale(100%) brightness(1000%);
}

main {
    margin: 0;
    flex: 1;
    background-size: cover;
    background-position: center;
}

footer {
    flex: 0 30px;
    background-color: #103e6d;
    color: white;
}

footer a {
    float: right;
    color: white;
}

footer a:hover {
    color: white;
}

