main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#login_box {
    flex: 0.90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #103e6d;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#login_box h1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_box form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-check {
    padding-bottom: 10px;
}

.modal {
    color: black;
}

.modal input[type=checkbox]:checked{
    background-color: grey;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
      min-height: 375px;
    }
}